{% extends 'base.html' %}
{% load static %}

{% block head %}
	<title>Landing Page</title>
	<link href="https://fonts.googleapis.com/css?family=Caveat|Poppins&display=swap" rel="stylesheet">
    <!-- <link href="{% static 'style_buku.css' %}" type="text/css" rel="stylesheet"> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- <script src="{% static 'js_buku.js' %}"></script> -->
    
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg text-center" style="margin-top: 5rem;">
            {% if user.is_authenticated %}
            <h3> Halo {{user}}</h3>
            <h4>Aku udah tau kamu siapa. </h4>
            <a href="logout/">
                <button class="btn btn-light" id="logout"><h7>Logout</h7></button>
            </a>
            
            {% else %}
            <h3>Eh kamu siapa? <br> login dulu.</h3>
            <a href="login/">
                <button class="btn btn-light"><h7>Login</h7></button>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}