<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Page</title>
    <link href="{% static './bootstrap-4.3.1-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'style-login.css' %}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:400,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  </head>

    <body>
    <div class="container" >
        <div class="row flex-column justify-content-center" style="height: 100vh;">
            <div class="col-lg-4 mx-auto">
                <div class="card card-signin my-3">
                    <div class="card-body">
                        <h5 class="card-title text-center">Do i know you? <br> Sign in please!</h5>
                        <form class="form-signin" method="POST" action="/user/login/">
                            {% csrf_token %}

                            {% if form.errors %}
                                <p class="text-center ">Sorry, i still dont know you <br> try again.</p>
                            {% endif %}
                            <div class="form-label-group">
                                <input type="text" id="id_username" name="username" class="form-control"  required="" autofocus>
                                <label for="inputText">Username</label>
                                <!-- {{ form.username }} -->
                            </div>
            
                            <div class="form-label-group">
                                <input type="password" id="id_password" name="password" class="form-control"  required="">
                                <label for="inputPassword">Password</label>
                                <!-- {{ form.password }} -->
                            </div>

                            <button class="btn btn-lg btn-outline-success btn-block text-uppercase" id="login" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>