{% extends 'base.html' %}
{% load static %}

{% block head %}
	<title>Story-7</title>
	<link href="https://fonts.googleapis.com/css?family=Caveat|Poppins&display=swap" rel="stylesheet">
    <link href="{% static 'style_profilku.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js_profilku.js' %}"></script>
    
{% endblock %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="col-lg-5 kiri ">
                <h1 id="title" class="mode1"> Muhammad Mudrik </h1>
                <div>
                    <img class="img-fluid" src="{% static 'Mudrik.jpg' %}">
                </div>
            </div>
            <div class="col-lg-7 kanan">
                <h1> Theme</h1>
                <label class="switch">
                    <input type="checkbox" name="tema">
                    <span class="slider round"></span>
                </label>
        
                <div id="accord" class="accordion-container">
                    <div class="atribut">
                        <button class="btn-block setting-button mode1"><h3>Aktivitas</h3></button>
                        <p class="isi">Aktivitas Mudrik saat ini sedang terfokus di Akademis mengingat beban perkuliahan yang 
                            sedang meningkat pesat. Meskipun demikian, Mudrik masih mengikuti banyak kepanitiaan dan Organisasi. 
                        </p>
                        <br>
                    </div>
                    <div class="atribut">
                        <button class="btn-block setting-button mode1"><h3>Pengalaman</h3></button>
                        <p class="isi"> Pengalaman Mudrik lumayan banyak dari sisi kepanitiaan maupun Organisasi. Dari sisi 
                            kepanitiaan, mudrik pernah menjadi staff Business IT Case COMPFEST, staff Humas, Publikasi, dan 
                            Kreatif PMB Fasilkom UI, Kepala Biro Kemakmuran Musala Fasilkom di Forum Ukhuwah dan Kajian Islam
                            Faskultas Ilmu Komputer Universitas Indonesia. 
                        </p>
                        <br>
                    </div>
                    <div class="atribut">
                        <button class="btn-block setting-button mode1"><h3>Prestasi</h3></button>
                        <p class="isi"> Medali Perak Taekwondo U-54 di Olimpiade UI 2018</p>
                        <br>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}