{% extends 'base.html' %}
{% load static %}

{% block head %}
	<title>A Wanderer</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
	<link href="{% static 'my_profile_style.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
		<h1 id="title">Muhammad Mudrik's Profile</h1>
			<div class="left-side">
				<div class="introduction">
					<h2>About this guy</h2>
					<div class="box">
						<p>So, This guy (<em>Mudrik</em>) is native to Arab and born in Palembang, Indonesia.<br />
						<br /> He was a student at 65 Senior High School at West Jakarta.
						 Now, he is a proud student at Faculty of Computer Science Universitas Indonesia.</p>
						 <p>This person got accepted at Universitas Indonesia in 2018 National Selection Test 
						 to enter college with "negeri" status. He is part of QUANTA 2018 (the CSUI 2018 Batch Name). 
						 He also get a cool College Student card with number : 1806190935</p>
					</div>
				</div>
		
		<div class="hobbies">
			<h2>Hobbies</h2>
			<div class="box">
				<ul>
					<li>Futsal</li>
					<li>Taekwondo</li>
					<li>CS:GO</li>
					<li>Receh</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="right-side">
		<div class="picture">
			<h2>Picture</h2>
			<img src="{% static './my_pic.JPG' %}" width="600" height="400"></img>
		</div>
	</div>
</div>
{% endblock %}