{% extends 'base.html' %}
{% load static %}

{% block head %}
	<title>Daftar Buku</title>
	<link href="https://fonts.googleapis.com/css?family=Caveat|Poppins&display=swap" rel="stylesheet">
    <link href="{% static 'style_buku.css' %}" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js_buku.js' %}"></script>
    
{% endblock %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="col">

                <div class="text-input">
                    <h3  for="inputNamaBuku">Interested in some books?</h3>
                    <input onkeyup="angkatKey()" type="text" class="form-control" id="inputNamaBuku" placeholder="Type book title here">
                    <br>
                </div>
                
                <div class="">
                    <table class="table table-hover table-responsive-lg" id = tableItem>
                        
                    </table>
                </div>
            </div>
    </div>
</div>

{% endblock %}

"<ul>"+${books.items[i].volumeInfo.authors.map((obj) => {return `<li>${obj}</li>`}).join("")} + "</ul>"
