body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

.kiri{
    float: left;
}

.kanan h1{
    width: 200px;
}

.container{
    margin-top: 2rem;
    width: 100%;
    height: 100%;
}

#bakground{
    width: inherit;
    height: inherit;
}

#title{
	border-radius: 15px 50px;
	padding: 20px; 
	width: 445px;
	height: 90px;
    text-align: center;
    vertical-align: middle;
}

.mode1{
    background: rgb(0, 0, 0);
	color: #FFFFFF;
}

.mode2{
    background: #FFFFFF;
	color: rgb(0, 0, 0);
}

p{
    margin-left: 2rem;
}

.setting-button{
    border-radius: 30px;
    padding: 0;
    text-align: center;
    border: none;
}

button:hover{
    background: rgb(214, 207, 207);
    color: #000000;
}

.isi{
    display: none;
}

img{
    max-width: 455px;
    max-height: 455px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(0, 0, 0);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(0, 0, 0);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }