<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static './bootstrap-4.3.1-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:400,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
    {% block style %}{% endblock %}
  </head>

  <body class="">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h1 class="navbar-brand">Ruka</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/story1">Story-1</a>
          <a class="nav-item nav-link" href="/story3">Story-3</a>
          <a class="nav-item nav-link" href="/schedule">Story-5</a>
          <a class="nav-item nav-link" href="https://kabar-mudrik.herokuapp.com">Story-6</a>
          <a class="nav-item nav-link" href="/story7">Story-7</a>
          <a class="nav-item nav-link" href="/buku">Story-8</a>
          <a class="nav-item nav-link" href="/user">Story-9</a>
          </div>
        </div>
    </nav>
  
      {% block content %}{% endblock %}
      

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>