{% extends 'base.html' %}
{% load static %}

{% block head %}
	<title>Home Page</title>
	<link href="{% static './bootstrap-4.3.1-dist/css/bootstrap.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Caveat|Poppins&display=swap" rel="stylesheet">
	<link href="{% static 'home_style.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="bg-img bg-text">
		<h1 class="title bg-text">The Story begins here.</h1>
</div>
{% endblock %}