body{
	margin: 0px;
	height: 100%;
	width: 100%;
}

*{
	box-sizing: border-box;
}
.bg-img{
	background-image:url("https://blog.hdwallsource.com/wp-content/uploads/2016/02/tree-bark-26070-26755-hd-wallpapers.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar{
	background-color: #333;
	overflow: hidden;
	position: absolute;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.8);
	width: 100%;
	z-index: 1;
}

.navbar a{
	position: sticky;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 15px 7px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Poppins' serif;
}

.navbar a:hover{
	background-color: #ddd;
	color: black;
}

.title{
	float: center;
	font-family:'Caveat', serif;
	font-size: 40px;
	text-align: center;
}

.credit{
	margin-top: 55px;
	font-family: 'Caveat', serif;
	font-size: 20px;
	text-align: center;
}

.bg-text{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 20px;
	text-align: center;
}