.text-input{
    width: 100%;
    margin-top: 4rem;
}

#inputNamaBuku{
    border: none;
    border-bottom: 2px solid rgb(29, 114, 29);
}

.table-hover tbody tr:hover {
    background-color:#b1dfbb;
}

h3{
    color: darkgreen;
}