{% extends 'base.html' %}
{% load static %}

{% block head %}
	<title>Story-5</title>
	<link href="https://fonts.googleapis.com/css?family=Caveat|Poppins&display=swap" rel="stylesheet">
    <link href="{% static 'stylejadwal.css' %}" type="text/css" rel="stylesheet">
	<!-- <link href="{% static 'home_style.css' %}" type="text/css" rel="stylesheet"> -->
{% endblock %}

{% block content %}

<div class='container-fluid hijau-penuh'>
    <div class="row justify-content-center">
        <!-- Bagian Form -->
        <div class="col-sm-5">
            <!-- Default form register -->
            <form class="text-center" id="form" method="POST" action="/schedule/">
                    {% csrf_token %}
                    <p class="h4 mb-4">Buat Jadwal</p>
                    <hr>
                    <div class="form-row mb-4">
                        <div class="col">
                            <h5>Tanggal/Bulan/Tahun</h5>
                            {{form.date}}
                        </div>
                        <div class="col">
                            <h5>Waktu</h5>
                            {{form.waktu}}
                        </div>
                    </div>
                    <h5>Kategori</h5>
                    {{form.kategori}}
                    <h5>Kegiatan</h5>
                    {{form.kegiatan}}
                    <h5>Tempat</h5>
                    {{form.tempat}}
                    <br>
                    <button type="submit" class="btn btn-block btn-success">Submit</button>
            </form>
        </div>

        <!-- Bagian Jadwal -->
        <div class="col-sm-6">
            <h3> Jadwal </h3>
            {% for i in jadwal %}
            <div class="jadwal-card">
                <div class="row">
                    <div class="col-12">
                        <p>{{ i.date}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>Kategori</p>
                    </div>
                    <div class="col-9">
                        <p>{{ i.kategori }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <P>Kegiatan</P>
                    </div>
                    <div class="col-9">
                        <p>{{ i.kegiatan }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>Lokasi</p>
                    </div>
                    <div class="col-9">
                        <p>{{ i.tempat }}</p>
                    </div>
                </div>
                <form action="delete/" method="POST" >
                    {% csrf_token %}
                    <input type="hidden" value="{{ i.id }}" name="id" />
                    <input class="btn delete btn-danger" type="submit" value="Delete" />
                </form>
                <br>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}